extends layout

block content
  h1 Patron: Return Book
  each loan in loans
    p
      strong Book Title: 
      | #{loan.books.title}
    p
      strong Loaned By: 
      | #{loan.patrons.first_name + "  " + loan.patrons.last_name}
    p
      strong Loaned On: 
      | #{loan.loaned_on}
    p
      strong Return By: 
      | #{loan.return_by}
  form
    p
      label(for='returned_on') Returned on:
      input#returned_on(type='text', value='2020-10-10')
    p
      input(type='submit', value='Return Book')
